.main-color-picker {
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-color-picker__colors {
  display: flex;
  gap: 20px;
}

.color-cell {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
}

.color-cell[data-color="pink"] {
  background-color: pink;
}

.color-cell[data-color="black"] {
  background-color: black;
}

.color-cell[data-color="grey"] {
  background-color: grey;
}
