.main-form {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.main-form__add-button, .main-form__clear-button, .main-form__name-input, .main-form__price-input {
  padding: 5px;
}

.main-form__item-list {
  list-style: none;
  padding: 0;
  border: 1px solid grey;
  min-height: 100px;
  min-width: 30%;
}

.main-form__item-list li {
  padding: 10px;
  margin: 5px;
}

li {
  background-color: lightgray;
}
