.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 30px;
  gap: 10px;
}

.item-image-wrapper {
  width: 277px;
}

.item-image {
  width: 100%;
  object-fit: cover;
}

.item-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.item-text__title {
  color: black;
  font-weight: 400;
  font-size: 14px;
}

.item-text__type {
  font-size: 11px;
  color: #b3b3b3;
  word-spacing: 1.5px;
}

.item-text__price {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
