.main-title {

}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
}

.main-content {
  width: 100%;
  margin-bottom: 60px;
  margin-top: 60px;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.order-list-item {
  font-size: 20px;
  font-weight: 400;
  list-style-type: none;
  text-wrap: wrap;
}
