* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Ubuntu, sans-serif;
}

.header {
  width: 100%;
  background-color: black;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 100;
}

.nav {
  display: flex;
  max-width: 1210px;
  margin: 0 auto;
}

.nav-buttons {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-buttons-items {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links-item {
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

a {
  color: white;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-icons-item {
  width: 20px;
  height: 20px;
}

.main {
  position: relative;
}

.main-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: #111;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  flex-wrap: wrap;
  padding-bottom: 30px;
  position: relative;
}

.main-category-block {
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
  width: 27%;
  position: relative;
  overflow: hidden;
}

.main-category-span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background:none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-category-img {
  background-size: cover;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-position: center top;
  object-fit: cover;
}

@media screen and (max-width: 2560px) {
  .main-category-block {
    height: 860px;
  }
}

.main-category-btn {
  background-color: #000;
  padding: 20px;
  position: absolute;
  left: 30px;
  bottom: 30px;
  text-transform: uppercase;
}

.main-category-title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.footer {
  background-color: #f0f3f2;
  padding: 50px 0;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1210px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-catalog {
  width: 25%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.footer-catalog-title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.footer-catalog-link {
  margin-bottom: 30px;
  display: block;
}

.footer-catalog-link-span {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}

.footer-info {
  width: 50%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.footer-info-title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.footer-info-links {
  display: flex;
  justify-content: space-between;
}

.footer-info-container {
  width: 300px;
}

.footer-info-link {
  margin-bottom: 30px;
  display: block;
}

.footer-info-link-span {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}

.footer-socials {
  width: 25%;
}

.footer-socials-title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.footer-socials-links {
  display: flex;
  justify-content: space-around;
}

.footer-divider {
  width: 66px;
  height: 3px;
  background-color: #000;
  margin: 63px auto 0;
}

.footer-copyright {
  font-weight: 300;
  font-size: 12px;
  color: #b3b3b3;
  margin-top: 27px;
  text-align: center;
}

.underlined {
  text-decoration: underline;
}
